# Build output
bin/
obj/
out/
dist/

# VS / Rider
.vs/
*.user
*.suo
.idea/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# Node / tooling
node_modules/
*.log

# OS junk
.DS_Store
Thumbs.db
