@page "/character/{Id}"
@using dnd3._5App.Models
@using System.Linq
@inject dnd3._5App.Services.StorageService Storage
@inject dnd3._5App.Services.RulesService Rules

@if (CurrentCharacter == null)
{
    <p>Loading...</p>
}
else
{
    <h2>@CurrentCharacter.Name</h2>
    <AbilitiesCard Abilities="CurrentCharacter.Abilities" TempMods="CurrentCharacter.AbilityTempMods" />
    <SavesCard Character="CurrentCharacter" />
    <ACBlock Character="CurrentCharacter" />
    <WeaponsTable Character="CurrentCharacter" />
    <SkillsTable Character="CurrentCharacter" />
    <SpellsPanel Character="CurrentCharacter" />
    <InventoryPanel Character="CurrentCharacter" />
    <MoneyPanel Character="CurrentCharacter" />
}

@code {
    [Parameter] public string? Id { get; set; }
    public dnd3._5App.Models.Character? CurrentCharacter { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var list = await Storage.GetCharactersAsync();
        CurrentCharacter = list.FirstOrDefault(c => c.Id == Id);
    }
}
